# Application settings
APP_ENV=development
APP_DEBUG=true
APP_KEY='znwB8e/JrF9ywAbmatLo0g=='
APP_NAME=Samax
APP_URL=http://localhost

# Database configuration
DB_CONNECTION=mysql
DB_HOST=host.docker.internal
DB_PORT=3306
DB_DATABASE=forge
DB_USERNAME=samax
DB_PASSWORD=samax